@font-face { font-family: 'DejaVu Sans Mono'; src: url('/fonts/DejaVuSansMono.ttf'); } 

body {
    font-family: 'DejaVu Sans Mono', monospace;
    background: #222222;
    color: #eeeeee;
    width: 51em;
    margin: 20px auto;
    text-align: justify;
    font-size: 13px;
	line-height: 1.7;
}

a {
    color: #E18A07;
    text-decoration: none;
}

a:hover {
    color: #ffb505;
}

.site-header pre {
	margin-left: -88px;
	line-height: normal;
}

.title-dot {
    color: #E18A07;
}

.nav-bar {
    text-align: center; 
    margin: 20px auto;
}

.blog-post {
    margin: 25px auto;
    font-size: 1em;
}

.post-title {
    margin-bottom: 0px;
    font-size: 2em;
    color: #E18A07;
    text-align: left;
}

.post-meta {
    margin: 0 0 30px 0;
    color: #9a9693;
}

h2 {
    font-size: 1.2em;
    color: #E18A07;
    text-align: left;
}

.read-more {
    text-align: right;
}

.newer-page {
    float: left;
}

.older-page {
    float: right;
}

.paginator {
    margin-bottom: 20px;
}

.footer {
    text-align: right;
    margin-top: 70px;
}

/* Prism.js theme customization */
pre[class*="language-"] {
    border: .2em solid hsl(0, 0%, 33%) !important;
}

code[class*="language-"] {
    text-shadow: none !important;
}
