@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --main-bg-color: hsl(47, 88%, 63%);
  --gray-500: hsl(0, 0%, 42%); 
  --gray-950: hsl(0, 0%, 7%); 
}

* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 310px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px var(--gray-950);
  gap: 20px;
  font-size: 16px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card .tag {
  background-color: var(--main-bg-color);
  padding: 5px 10px;
  width: min-content;
  border-radius: 5px;
  font-weight: 800;
  color: var(--gray-950);
}

.card .tag a {
  text-decoration: none;
  font-weight: 800;
  color: var(--gray-950);
}

.card .tag a:hover {
  text-decoration: none;
  font-weight: 800;
  color: white;
}

.card .date {
  color: var(--gray-950);
  font-size: 15px;
}

.card h1 {
  font-weight: 800;
  font-size: 25px;
  color: var(--gray-950);
}

.card h1 a {
  text-decoration: none;
  font-weight: 800;
  color: var(--gray-950);
}

.card h1 a:hover {
  text-decoration: none;
  font-weight: 800;
  color: var(--main-bg-color);
}

.card p {
  font-weight: 500;
  color: var(--gray-500);
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author img {
  width: 30px;
}

.author a {
  text-decoration: none;
  font-weight: 800;
  color: var(--gray-950);
  text-justify: center;
}

.author a:hover {
  color: var(--main-bg-color);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
