@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 16px;
  background-color: var(--stone-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 30px;
  background-color: white;
  border-radius: 25px;
  max-width: 720px;
  padding: 35px;
  margin: 15vh 20px;
}

.recipe-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 20px;
}

.main-container img {
  max-width: 100%;
  border-radius: 15px;
}

.main-container h1 {
  color: var(--stone-900);
  font-size: 2.2em;
}

.main-container p {
  color: var(--stone-600);
  font-size: 16px;
}

.preparation-time {
  background-color: var(--rose-50);
  padding: 30px;
}

.preparation-time h2 {
  color: var(--rose-800);
  font-size: 1.4em;
}

.preparation-time ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0px 0px 25px;
  color: var(--stone-600);
}

.preparation-time ul p {
  margin-left: 25px;
}

.bold {
  font-weight: 600; 
}

.ingredients h2 {
  color: var(--brown-800);
  font-size: 1.8em;
}

.ingredients ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0px 0px 15px;
  color: var(--stone-600);
}

.ingredients ul p {
  margin-left: 25px;
}

hr {
  border: 0.5px solid var(--stone-150);
}

.instructions h2 {
  color: var(--brown-800);
  font-size: 1.8em;
}

.instructions ol {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0px 0px 28px;
  color: var(--stone-600);
}

.instructions ol > li::marker{
  color: var(--brown-800);
  font-weight: 600;
}

.instructions li > p {
  margin-left: 20px;
}

.nutrition {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--stone-600);
}

.nutrition h2 {
  color: var(--brown-800);
  font-size: 1.8em;
}

.nutrition table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
}

.nutrition tr {
  border-bottom: 1px solid var(--stone-150);
}

.nutrition tr:last-child {
  border-bottom: 0;
}

.nutrition table th {
  font-weight: 400;
  padding: 15px 0 15px 30px;
  width: 50%;
}

.nutrition table td {
  font-weight: 600;
  padding: 15px 0 15px 15px;
  color: var(--brown-800);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  body {
    background-color: white;
  }

  .main-container {
    border-radius: 0;
    margin: 0;
  }

  .main-container h1 {
    font-size: 2em;
  }

  .img-container {
    margin-left: -35px;
    margin-right: -35px;
    margin-top: -35px;
  }

  .main-container img {
    border-radius: 0;
    max-width: 100%;
  }
}
